<body>
         <div align="center"  class="palm-header">
Now Playing
         </div>
         <div id="mysonglabel" align="center" class="myname"></div>
         <div id="mypathlabel" align="center" class="mypath"></div>
         <div id="mymarquee" align="center" class="mymarquee"></div>
         <div id="myvolumelabel" class="myvolumelabel">Volume</div>
         <div id="myvolume" x-mojo-element="Slider" class="myvolume"></div>
         <div id="myspeedlabel" class="myspeedlabel">Speed</div>
         <div id="myspeed" x-mojo-element="Slider" class="myspeed"></div>
         <div id="mytreblelabel" class="mytreblelabel">Treble</div>
         <div id="mytreble" x-mojo-element="Slider" class="mytreble"></div>
         <div id="mybasslabel" class="mybasslabel">Bass</div>
         <div id="mybass" x-mojo-element="Slider" class="mybass"></div>
         <div id="myptime" class="myscrublabel"></div>
         <div id="myscrubber" x-mojo-element="Slider" class="myscrub"></div>
<!--         
	 <div id="myprogress" x-mojo-element="ProgressPill" class="mySongProgress"></div>
-->	 
         <div id="myprev" x-mojo-element="Button"  class="myprevious"></div>
         <div id="myplaypause" x-mojo-element="Button" class="mypause"></div>
         <div id="mynext" x-mojo-element="Button"  class="myforward"></div>
<object type="application/x-palm-remote" id="wAMPPlugin" height="1" width="1" x-palm-pass-event="true">
<param name="exe" value="wAMP_plugin">
</object>
</body>