<body>
         <div align="center"  class="palm-header">
Now Playing
         </div>
         <div id="mysonglabel" align="center" class="myname"></div>
         <div id="mypathlabel" align="center" class="mypath"></div>
         <div id="mymarquee" align="center" class="mymarquee"></div>
         <div id="myvolumelabel" class="myvolumelabel">Volume</div>
         <div id="myvolume" x-mojo-element="Slider" class="myvolume"></div>
         <div id="myspeedlabel" class="myspeedlabel">Speed</div>
         <div id="myspeed" x-mojo-element="Slider" class="myspeed"></div>
         <div id="mytreblelabel" class="mytreblelabel">Treble</div>
         <div id="mytreble" x-mojo-element="Slider" class="mytreble"></div>
         <div id="mybasslabel" class="mybasslabel">Bass</div>
         <div id="mybass" x-mojo-element="Slider" class="mybass"></div>
         <div id="myptime" style="position:fixed; top:78%; left:10%; right:10%; -webkit-border-top-left-radius: 1em; -webkit-border-bottom-left-radius: 1em; height:2em; background-color:#AAA;"></div>
         <div id="myscrubber" x-mojo-element="Slider" class="myscrub"></div>
         <div id="myprev" x-mojo-element="Button"  class="myprevious"></div>
         <div id="myplaypause" x-mojo-element="Button" class="mypause"></div>
         <div id="mynext" x-mojo-element="Button"  class="myforward"></div>
</body>