/*----------------
  This is for the play control buttons
  ----------------*/
#btnarm
{
	position:fixed;
	width:70px;
	height:126px;
	z-index:9900;
	top:102px;
	left:202px;
	background-image:url('../res/record/arm.png');
	-webkit-transform-origin: 55px 27px;
	-webkit-transition: -webkit-transform 1s;
	/*-webkit-transform:rotate(22deg);*/
}
  
#btnplylst
{
	position:fixed;
	width:44px;
	height:44px;
	top:154px;
	z-index:7;
	left:33px;
}
  
  
#btneq
{
	position:fixed;
	width:44px;
	height:44px;
	top:85px;
	z-index:7;
	left:60px;
}
  
#btnplay
{
	position:fixed;
	width:60px;
	height:55px;
	top:352px;
	z-index:0;
	left:130px;
}

#btnpause
{

	position:fixed;
	width:60px;
	height:55px;
	top:352px;
	z-index:1;
	left:130px;
}

#btnprev
{
	position:fixed;
	width:59px;
	height:42px;
	top:358px;
	z-index:0;
	left:67px;
}

#btnnext
{
	position:fixed;
	width:59px;
	height:42px;
	top:358px;
	z-index:0;
	left:194px;
}

#btnvol
{
	position:fixed;
	width:46px;
	height:42px;
	top:358px;
	z-index:0;
	left:258px;
}

#btnmute
{
	position:fixed;
	width:46px;
	height:42px;
	top:358px;
	z-index:1;
	left:258px;
}

#btnshuf
{
	position:fixed;
	width:46px;
	height:42px;
	top:358px;
	z-index:0;
	left:16px;
}

#btnnormal
{
	position:fixed;
	width:46px;
	height:42px;
	top:358px;
	z-index:0;
	left:16px;
}

#btnrep
{
	position:fixed;
	width:46px;
	height:42px;
	top:358px;
	z-index:0;
	left:16px;
}

#btndir
{
	position:fixed;
	width:40px;
	height:40px;
	top:19px;
	z-index:7;
	left:20px;
}

/*----------------
  This is for vertical slider control
  ----------------*/
.vertselectboxwrapper
{
	visibility:hidden;
	position:absolute;
	height:250px;
	width:156px;
	left:166px;
	top:88px;
	z-index:899;
}
  
  .vertselectbox
{
	/*visible:hidden;*/
	position:relative;
	height:250px;
	width:28px;
	left:101px;
	top:17px;
	border:0px solid #000;
	z-index:-2;
}

.vertselectknob
{
	position:relative;
	width:29px;
	height:17px;
	bottom:0px;
	z-index:1;
}
  
  
/*----------------
  This is for the buttons in indexview
  ----------------*/
.classwAMPIndexBtn
{
	height:100%; 
	width:100%;
	z-index:2;
	background-image:url(../res/themes/default/slectedbg.png);
}
  
#btnheader
{
	position:fixed; 
	height: 50px;
	width: 287px;
	top:14px; 
	left:14px;
 background:url(../res/themes/default/plistheaderimg.png);	
}
	
#idPlayAllIndex
{
	position:fixed; 
	height: 50px;
	width: 287px;
	top:90px; 
	left:18px;
}

#idAlbumIndex
{
	position:fixed;
	height: 50px;
	width: 287px;	
	top:140px; 
	left:18px; 
}

#idArtistIndex
{
	position:fixed; 
	height: 50px;
	width: 287px;
	top:190px; 
	left:18px; 
}

#idGenreIndex
{
	position:fixed;
	height: 50px;
	width: 287px;	
	top:240px; 
	left:18px; 
}

#idTitleIndex
{
	position:fixed;
	height: 50px;
	width: 287px;	
	top:290px; 
	left:18px; 
}

#idFolderIndex
{
	position:fixed;
	height: 50px;
	width: 287px;	
	top:340px; 
	left:18px;
}

#idOptionIndex
{
	position:fixed;
	height: 50px;
	width: 287px; 
	top:390px; 
	left:18px;
	background-image: url(../res/themes/default/optionsimg.png);
}

/*----------------
  This is for the scruber
  ----------------*/

.scrubwrap
{
	position:fixed;
	z-index:510;
}

.scruber
 {
	position:fixed; 
	padding-left:15px; 
	padding-top:3px; 
	border:1px solid #000; 
	z-index:-10;
	color:#000;
	background-color:#FFF;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.scruberop 
{
	position:fixed; 
	z-index:-9;
	padding-left:15px; 
	padding-top:3px; 
	border:1px solid #000; 
	height:1.5em;
	color:#FFF;
	background-color:#000;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.scrubpopup
{
	white-space:nowrap;
	font-size:4em;
	text-align:center;
	vertical-align:middle;
	position:fixed;
	z-index:5000;
	top:25%;
	left:12.5%;
	width:75%;
	margin-left:auto;
	margin-right:auto;
	opacity: 0.50;
	background-color:#000;
	color:#FFF;
	height:25%;
	border:1px solid #000; 
}

/*----------------
  This is for the knob
  ----------------*/

.rotateablefront
{
	position:absolute;
	z-index:3000;
	overflow:hidden;
	-webkit-transition-property: -webkit-transform; 
	-webkit-transition-duration: 0s;
}

.rotateabledisplay
{
	position:absolute;
	z-index:2300;
	overflow:hidden;
	-webkit-transition-property: -webkit-transform; 
	-webkit-transition-duration: 0s;
}

.rotateableparent
{
	position:absolute;
	z-index:2000;
	overflow:hidden;
	-webkit-transition-property: -webkit-transform; 
	-webkit-transition-duration: 0s;
}

.rotateablelbl
{
	position:absolute;
	z-index: 3000;
	top: 15px;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	text-align: center;
}

.rotateablebackcircb
{
	position: absolute;
	z-index: 30;
}

.rotateablebackcircbackb
{
	position: absolute;
	z-index: 26;
}

.rotateablebackcircw
{
	position: absolute;
	z-index: 30;
}

.rotateablebackcircbackw
{
	position: absolute;
	z-index: 26;
}

/*----------------
  This is for the spinner
  See wAMP.js for the required notice under the MIT license
  ----------------*/

#sw-wrapper {
	position:absolute; z-index:1000;
	left:0;
	/*width:100%;*/
	width: 320px;
	font-family:helvetica, sans-serif;
	background:rgba(0,0,0,0.7);
	text-align:left;
}

#sw-header {
	position:relative;
	width:100%; height:43px;
	border-top:1px solid #000; border-bottom:1px solid #000;
	background:url(../res/spinner/sw-header.png) 0 0 repeat-x;
	opacity: 0.9;
}

#sw-cancel, #sw-done {
	position:absolute;
	top:7px;
	height:20px; line-height:20px;
	padding:0 5px; margin:0;
	border-width:5px;
	font-size:12px; font-weight:bold;
	text-shadow:rgba(0,0,0,0.8) 0 -1px 0;
	color:#fff;
}

#sw-cancel {
	left:7px;
	float:left;
	-webkit-border-image:url(../res/spinner/sw-button-cancel.png) 5;
}

#sw-done {
	right:7px;
	float:right;
	-webkit-border-image:url(../res/spinner/sw-button-done.png) 5;
}

.sw-pressed { opacity:0.4; }

#sw-slots-wrapper {
	position:relative; z-index:999;
	display:block;
	height:127px;
	padding:0 11px;
	overflow:hidden;
}

#sw-slots {
	display:table;
	width:100%;
	background:#fcfcfc;
}

#sw-slots div {
	display:table-cell;
	height:100%;
	padding-top:42px;
	border-left:2px solid #0d0e0f;
	background-color:#fcfcfc;
	background-image: url(../res/spinner/sw-slot-border.png);
	background-position: 0 0, 100% 0;
	background-repeat: repeat-y;
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding:0 0 85px 0; margin:0;
	list-style:none;
}

#sw-slots .sw-right { text-align:right; }
#sw-slots .sw-shrink { width:1%; }
#sw-slots .sw-readonly { background:#ddd; }

#sw-slots li {
	padding:0 8px;
	height:44px;
	overflow:hidden;
	font:bold 24px/44px Helvetica,sans-serif;
}

#sw-frame {
	position:absolute; z-index:1000;
	left:0; right:0; top:43px;
	height:225px;
	border-width:16px;
	-webkit-border-image:url(../res/spinner/sw-alpha.png) 16;
}


/*****************************
 * CSS routines for the Record spin
 *****************************/
.recordwrapper
{
position: absolute;
/*0000af*/
}


.recordparent
{
	position: absolute;
	background-image:url('../res/record/record.png');
	z-index: 6;
	top: 23px;
	left:18px;
	height: 162px;
	width: 200px;
}

/*.recordhole
{
	position: absolute;
	background-image:url('../res/record/secondcenter.png');
	z-index: 1000;
	height: 200px;
	width: 200px;
}
*/
.recordpic
{
	position: absolute;
	background-image:url('../res/record/defaultcov.png');
	z-index: 600;
	height: 48px;
	width: 48px;
}

.recordpicspin
{
	position: absolute;
	background-image:url('../res/record/defaultcov.png');
	z-index: 600;
	height: 48px;
	width: 48px;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
@-webkit-keyframes rotateThis {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

/****************************
 * iScroll css
 ****************************/
#idWrapper {
	position:fixed; 
	top: 65px;
	left: 0px;
	-webkit-transition-duration: 0ms;
	height: 320px;
	width: 320px;
	z-index: 2;
	background:#FFF;
	overflow: hidden;
	font-family:verdana;
}

#idScroller {
	position:absolute; 
	-webkit-transition-property: -webkit-transform;
	-webkit-transform-origin: 0px 0px;
	-webkit-transition-duration: 0ms;
	width:100%;
	z-index: 10;
	background-color:#FFF;
	padding: 0px;
}

#idScroller ul {
	list-style:none;
	-webkit-transition-duration: 0ms;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
	background-color:#FFF;
}

#idScroller ul li {
	padding:0px;
	width: 320px;
	-webkit-transition-duration: 0ms;
	border-bottom:1px solid #555;
	margin: 0px 10px;
	background-color:#FFF;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-image: none;
}

#idScroller ul li.selallclass
{
	padding: 10px 5px;
	-webkit-transition-duration: 0ms;
	margin: 0px;
	border-bottom:1px solid #000;
	background-color:#000;
	color: #FFF;
	white-space: nowrap;
	font-size: 25px;
}

#idScroller ul li.noshrink
{
	padding: 0px;
	padding-left: 3px;
	-webkit-transition-duration: 0ms;
	margin: 0px;
	border-bottom:1px solid #000;
	background-color:#AAA;
	white-space: nowrap;
	font-size: 25px;
}

#idListFooter
{
	position: fixed;
	top: 380px;
	width: 320px;
	height: 46px;
	z-index: 9000;
	background-color: #FFF;
	background-image: none;
}

#idListFooter form
{
	margin-top: 5px;
	margin-left: 5px;
	width: 249px;
}

#idListFooter form div
{
	width: 189px;
}

/***********************
 * option buttons
 ***********************/

#idOptionButtonList
{
	position: relative;
	left: 254px;
	top: -41px;
	width: 46px;
	height: 46px;
	z-index: 200;
	padding: 0px 10px;
}

#idOptionButtonPlayer
{
	position: fixed;
	left: 62px;
	top: 230px;
	width: 44px;
	height: 44px;
	z-index: 7;
}

/***********************
 * Dialog
 ***********************/
#idDialog
{
	width: 320px;
	height: 480px;
	background: none;
	max-height: 480px;
	min-height: 480px;
}
 
#idDialog a
{
	visibility:hidden;
}

.wampButtonClose
{
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: .5em 5px;
	padding: 0;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 1em;
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0,       #fadb4e),
        color-stop(1,       #fceda7));
    border: 1px solid       #F7C942;
    background:             #fceda7;
    font-weight: bold;
    color:                  #111;
    text-shadow: 0 1px 1px  #ffffff;
}

.wampButtonClose span
{
	padding: .6em 25px; 
	display: block; 
	height: 100%; 
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	position: relative; 
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 1px 1px #F6F6F6;
	border-top: 1px solid white;
	border-color: rgba(255, 255, 255, .3);
	-webkit-border-radius: 1em;
	-webkit-background-clip: padding-box;
}

.wampButton
{
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: .5em 5px;
	padding: 0;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 1em;
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0,       #fdfdfd),
		color-stop(1,       #eeeeee));
	border: 1px solid       #ccc;
    background:             #eee;
    font-weight: bold;
    color:       			#444;
    text-shadow: 0 1px 1px  #f6f6f6;
}

.wampButton span
{
	padding: .6em 25px; 
	display: block; 
	height: 100%; 
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	position: relative; 
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 1px 1px #F6F6F6;
	border-top: 1px solid white;
	border-color: rgba(255, 255, 255, .3);
	-webkit-border-radius: 1em;
	-webkit-background-clip: padding-box;
}

/*************************
 * Playlist CSS
 *************************/
#idPlaylistWrapper
{
padding-left:10px;
margin-top: 80px;
} 
 
#idPlaylistPicture 
{
	border: none;
	width:320px;
	height:480px;
	z-index:0;
}

#idPlaylist li
{
	width: 206px;
	position:relative;
	margin: 0;
	overflow: hidden;
	text-align: left;
	list-style: none;
	padding: .2em 75px .2em 15px;
	border-bottom: 1px  solid #CCC;	
	border-top: 1px  solid #CCC;
	color: #fff;
	text-decoration: none;
	opacity:.75;
}

#idPlaylist li.nowplaying
{
	margin: 0;
	overflow: hidden;
	width: 206px;
	text-align: left;
	list-style: none;
	padding: .2em 75px .2em 15px;
	border: 1px solid #444;
	background: #FFF;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0px 0px white;
	opacity:.75;
}

.playlistTxt 
{
	overflow:hidden;
}

.playlistSideImg
{
	position:absolute;
	background-position:center;
	background-repeat:no-repeat;
	margin: auto 0px;
	left:250px;
	top:-0px;
	background-image:url('../res/dragbtn.png');
	width:50px;
	height:100%;
}

#idPlaylist li.classDragging
{
	opacity:.75;
	background-color: #BEE;
	border-color: #8BB;
	color: #114;
	position:fixed;
}

#idPlaylist li div
{
	position: absolute;
	display: inline;
	left: 200px;
	top: 8px;
	height: 20px;
	width: 90px;
	text-align: center;
	cursor: pointer;
	padding: 0;
	padding-top: 2px;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 1em;
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0,       #fdfdfd),
		color-stop(1,       #e22));
	border: 1px solid       #000;
    background:             #e22;
    color:       			#fff;
    font-weight: normal;
    text-shadow: 0 1px 1px  #f6f6f6;
    clip: rect(0px, 0px, 50px, 0px);
}

#btnbackground
 {
 position:relative; z-index:0;
    background-image:url(../res/themes/default/background.png);
 	width:320px;
	height:480px;
	
 }