<div id="idPlayAllIndex" style="position:fixed; top:0px; left:0px; border-bottom:1px solid #000;"><img src="res/playallimg.jpg" class="indexviewButton"  /></div>
<div id="idAlbumIndex" style="position:fixed; top:73px; left:0px; border-bottom:1px solid #000;"><img src="res/albumimg.jpg" class="indexviewButton"  /></div>
<div id="idArtistIndex" style="position:fixed; top:146px; left:0px; border-bottom:1px solid #000;"><img src="res/artistimg.jpg" class="indexviewButton" /></div>
<div id="idTitleIndex" style="position:fixed; top:220px; left:0px; border-bottom:1px solid #000;"><img src="res/titleimg.jpg" class="indexviewButton"  /></div>
<div id="idGenreIndex" style="position:fixed; top:294px; left:0px; border-bottom:1px solid #000;"><img src="res/genreimg.jpg" class="indexviewButton" /></div>
<div id="idFolderIndex" style="position:fixed; top:368px; left:0px; border-bottom:1px solid #000;"><img src="res/fileimg.jpg" class="indexviewButton"  /></div>
