<div id="divNameplate" style="position:fixed; top:0; left:64px; height:67px; width:390px; background:url(res/nameplate.jpg); border-bottom:1px solid #0000af">
	<div id="nameGoesHere" style="position:relative; font-size:30px; color:#000; padding-left:10px; white-space:nowrap; font-family:font-family:helvetica, sans-serif;"></div>
	<div id="artistGoesHere" style="position:relative; font-size:20px; color:#666; padding-left:10px; white-space:nowrap; font-family:font-family:helvetica, sans-serif;"></div>
</div>
<div id="#lblBass">Bass</div>
<div id="#lblTreble">Treble</div>
<div id="addhere"></div>

<div id="btnplay"></div>
<div id="btnpause"></div>
<div id="btnprev"></div>
<div id="btnnext"></div>
<div id="btnvol"></div>
<div id="btnmute"></div>
<div id="btnshuf"></div>
<div id="btnnoshuf"></div>
<div id="btndir"></div>
<div id="btnshowfilter">^ Show Filter ^</div>